---
layout: default
css: index
---
<header class="l-header c-header">
  <h1 class="c-title">
      <span class="l-title__en c-title__en">Penang<br>Hokkien</span>
      <span class="l-title__zh c-title__zh" lang="zh">槟城福建话</span>
    </h1>
</header>
<main class="c-content">
  <section class="c-intro">
    {% include language.html %}
    <div class="l-lang__en c-lang__en">
      <h2>What is Penang Hokkien?</h2>
      <p>Penang Hokkien is a variant of the Hokkien dialect that is unique to Penang, Malaysia. Hokkien originated from the southern Fujian province in the Minnan region of China. As the Chinese settlers integrated themselves into the local community, they started incorporating indigenous words into their language. Penang Hokkien is an integral part of our cultural heritage and there has been a movement to rejuvenate interest and prevent the language from dying out.</p>
    </div>
    <div class="l-lang__zh c-lang__zh" lang="zh">
      <div class="ms-wrapper">
        <h2>槟城福建话是什么？</h2>
        <p>槟城福建话是闽南语的一个域外变体，是槟城文化的特点之一。闽南语出自于中国的福建省。中国和马来群岛之间频密的商业活动，导致数多华侨渐渐定居于槟城。在融入本土社会的当儿，语言上也开始向本土语言借词。槟城福建话是槟城文化的栋梁之一。由于学校及家长们不注重方言，许多年轻一代的槟城人只会说些简单的福建话。槟城福建话有走向衰落的趋势。为了防止槟城福建话的灭绝，近几年也开始引起了推动讲福建话风气的活动。</p>
      </div>
    </div>
  </section>
  <section class="l-stories c-stories">
    <div class="ms-wrapper">
      <h2 class="l-stories-title"><span class="l-stories-title__en">PGHK stories</span><br><span lang="zh">庇能福建の故事</span></h2>
      <ul class="l-shelf c-shelf">
        {% for post in site.posts %}
        <li class="l-story c-story">
          <a href="{{ post.url | prepend: site.baseurl }}">
            <p>{{ post.title }}</p>
          </a>
        </li>
        {% endfor %}
      </ul>
      {% assign stories = 0 %}
      {% for resource in site.data.stories %}
        {% assign stories = stories | plus: 1 %}
      {% endfor %}
      {% if stories > 8 %}
      <a class="l-more-stories" href="{{ "/stories" | prepend: site.baseurl }}"><small>More stories &raquo;</small></a>
      {% endif %}
      <p>Have a story? <a href="#contact">Send it in!</a></p>
    </div>
  </section>
  <section class="c-resources">
    <div class="l-resources">
      <h2>Resources | <span lang="zh">资料</span></h2>
      <ul class="l-links c-links">
      {% for resource in site.data.resources limit:8 %}
      <li class="l-link c-link c-link__{{ resource.category }}">
        <a href="{{ resource.link }}">
        <p>{{ resource.title }}</p>
        <small class="l-link__tag">{{ resource.category }}</small>
        </a>
      </li>
      {% endfor %}
      </ul>
    </div>
    {% assign resources = 0 %}
    {% for resource in site.data.resources %}
      {% assign resources = resources | plus: 1 %}
    {% endfor %}
    {% if resources > 8 %}
    <a class="l-more-resources" href="{{ "/resources" | prepend: site.baseurl }}"><small>More resources &raquo;</small></a>
    {% endif %}
  </section>
  {% include newsletter.html %}
</main>
