<input type="radio" name="language" id="lang-en" class="l-toggle__en" />
<label for="lang-en">
  <span class="lang-toggle__en">English</span>
</label>
<input type="radio" name="language" id="lang-zh" class="l-toggle__zh" checked="checked" />
<label for="lang-zh">
  <span class="lang-toggle__zh" lang="zh">中文</span>
</label>
