// ====
// Base
// ====
h2 {
  font-size: 130%;
}

p {
  line-height: 1.5;
}

.lang-zh {
  h2 {
    margin-left: 0.5em;
    letter-spacing: 0.0625em;
  }

  p {
    letter-spacing: 0.125em;
  }
}

.lang-en {
  h2 {
    margin-bottom: 0.5em;
  }
}

a {
  text-decoration: none;

  main & {
    color: color(main);
  }
}

small {
  font-size: 75%;
}
