// Footer styles
.l-footer {
  display: flex;
  height: 1.5em;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.c-footer {
  background-color: color(txt-dark);
  color: color(bg);

  a {
    color: color(accent);
  }
}

.c-contact__icon {
  margin-left: 0.5em;
  height: 1em;
  width: 1em;
}
