// Language switcher
@supports (background-image: linear-gradient(to bottom, #f4f1ee, #fff)) {
  .lang-toggle__en,
  .lang-toggle__zh {
    line-height: 3em;
  }

  .lang-toggle__zh {
    writing-mode: vertical-lr;
    height: 3em;
    text-align: center;
  }

  input[name="language"] {
    float: left;
    opacity: 0;
    position: absolute;

    &~ label {
      background-color: #f4f1ee;
      background-image: linear-gradient(to bottom, #f4f1ee, #fff);
      border-radius: 50%;
      box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3), inset 0 4px 1px 1px #fff, inset 0 -3px 1px 1px rgba(204, 198, 197, 0.5);
      display: inline-block;
      vertical-align: middle;
      padding: 0.5em;
      font-size: 75%;
      transition: background 0.1s linear, box-shadow 0.1s linear;
      margin: 0 1em 1em;
    }
  }

  .l-toggle__en:checked ~ label[for="lang-en"],
  .l-toggle__zh:checked ~ label[for="lang-zh"] {
    background-color: #efedec;
    background-image: linear-gradient(to bottom, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4), inset 0 -3px 1px 1px rgba(204, 198, 197, 0.5);
    color: color(secondary);
    text-shadow: 1px 1px 3px lighten(color(secondary), 5%);
  }

  .l-toggle__en:focus ~ label[for="lang-en"],
  .l-toggle__zh:focus ~ label[for="lang-zh"] {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4), inset 0 -3px 1px 1px rgba(204, 198, 197, 0.5), 0 0 .3em 1px color(secondary), 0 1px 1px hsla(0, 0%, 100%, 0.8);
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .lang-toggle__en,
  .lang-toggle__zh,
  input[name="language"] {
    display: none;
  }
}

@supports not (background-image: linear-gradient(to bottom, #f4f1ee, #fff)) {
  .lang-toggle__en,
  .lang-toggle__zh,
  input[name="language"] {
    display: none;
  }
}
