---
layout: default
---
<main class="l-post c-post">
  {% include language.html %}
  {{ content }}

  <div class="l-post__bottom">
    {% if page.audio %}
    <div class="l-audio">
        <p>Hear the Penang Hokkien audio version:</p>
        <audio controls="controls" src="/assets/audio/{{page.audio}}">
          Your browser does not support the <code>audio</code> element.
        </audio>
    </div>
    {% else %}
    <div class="l-audio">
        <p>Audio still being recorded.<br>Content creation is hard, guys.</p>
    </div>
    {% endif %}
    <div class="l-prev">
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}"><small>&laquo; {{page.previous.title}}</small></a>
    {% endif %}
    </div>
    <div class="l-next">
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}"><small>{{page.next.title}} &raquo;</small></a>
    {% endif %}
    </div>
  </div>
  {% include home-link.html %}

</main>
